*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272658;
}

body a {
  color: #fff;
  font-size: 30px;
  background-color: #4F458D;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
}